
      body {
        font-family: "Raleway", sans-serif;
        font-size: 16px;
      }
      ul #aboutus li a{
        color:black !important;
      }

      ul #projects li a{
        color:black !important;
      }

      ul #service li a{
        color:black !important;
      }

      ul #products li a{
        color:black !important;
      }



      .slider img{
        filter: brightness(20%);
      }
      .slider .slides {
        height: 20vh;
      }

      .h3-lg {
        font-style: normal;
        font-weight: 700;
        font-size: 52px;
        line-height: 30px;
        color: #ffffff;
        text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.4);
      }

      .bold {
        font-weight: 800;
      }

      .bold1 {
        font-weight: 600;
      }

      .boldrow {
          font-weight:700;
          font-size:20px;
      }

      .h3-lg2 {
        font-style: normal;
        font-weight: 800;
        font-size: 52px;
        line-height: 30px;
        margin: 0px;
        color: #ffffff;
      }

      .h-sml {
        font-family: Raleway;
        font-style: normal;
        font-weight: 500;
        font-size: 18px;
        line-height: 25px;
        margin: 0px;
        text-align: justify;
        display: block;
      }

      .h-sml2 {
        font-family: Raleway;
        font-style: normal;
        font-weight: 500;
        font-size: 18px;
        line-height: 20px;
        margin: 0px;
        padding-left: 20px;
        text-align: justify;
        display: block;
      }

      .slider .slides li .caption {
        width: 60%;
        left: 10%;
        top: 30%;
      }

      .card {
        /* width:394px; */
        /* height:600px; */
      }
      .container {
        width: 90%;
      }

      .logofont {
        /* font-family: 'Pacifico', cursive; */
        font-family: "IM Fell Double Pica", serif;
      }

      .primarycolor {
        color: #08aaeb !important;
      }
      .secondarycolor {
        background-color: #DEF1FB !important;
      }
      .accentcolor {
        color: #eb5008 !important;
      }
      .accentcolorbg {
        background-color: #eb5008 !important;
      }
      .footercolor{
        background-color:#3E3E3E;
      }
      .footertextcolor{
        color:#AFACAC;
        font-size: 18px;
      }
      .footertext{
        color:#AFACAC;
        font-size: 12px;
      }
      .hrcolor{
        border:0.7px solid #6f6c6c;
      }
      .navbartext a {
        color: black;
      }
      .navbartext li:hover {
        color: red;
      }
      .headings{
        color: #292929;
        font-style: normal;
        font-weight: 700;
        font-size: 52px;
        line-height: 30px;
      }
      .alignwell {
        display: flex;
      }
      #Services {
        background-color: #DEF1FB;
        height: 80vh;
      }
      .touch{
          background-image: url(images/phone3.jpg);
          height:100vh;
          background-size:cover;
      }
      .footer{
        height:20vh;
        padding:5px;
      }
      #footer ul{
        margin-bottom: 0px;
      }
      .pagination{
        margin:0px 0 4px 0;
      }
      .pagination li{
        height:50px;
        margin-left: 40px;
      }
      /* .pagination li:hover{
        border-bottom: 1px solid #eb5008;
      } */

      textarea{
        background: transparent;
        border: 1px solid #fff;
        box-sizing: border-box;
        height: 250px;
        left: 161px;
      }
      hr{
        margin-top: 0px;
        padding-top: opx;
        width:80%;
        border: 1px solid #C4C4C4;
        align-content: center;
      }
      /* .txtb{
        background: #FFFFFF;
        height:70px;
        border: 1px solid #EB5008;
      } */
    /* .contact-form{
        background:transparent;
        box-sizing:border-box;
        border-color: #08aaeb;
        border-radius:8px;
        border:3px solid #08aaeb; */

    /* } */
      .featured-item {
        display: flex;
        align-items: center;
      }
      .icon{
        margin-top:-60px;
      }
      .featured-item p {
        /* margin: 10px;
         padding: 10px;
         transition: margin 300ms; */
        text-align: justify;
      }
      .featured-item img:hover {
        margin-left: 4px;
      }

      .whatwedo .card{
            height:70vh;
            transition: transform .2s;
        }

        .whatwedo .card:hover{
          background-color:#DEF1FB;
          transform: scale(1.1);
        }

      .mg-bt {
        margin-bottom: 70px;
      }
      .mg-tp {
        margin-top: 60px;
      }

      .btn:hover{
          color:#000000;
      }

      .card-content {
        line-height: 1.5rem;
      }

      .social i {
        margin-left:30px;
        font-size: 40px;
        color:#eb5008;
      }

      .brand-carousel .item{
       margin: 3px;
       height: 20px;
      }
      .brand-carousel img{
      display: block;
      width: 20%;
      height: auto;
      }
      .owl-dots{
        text-align:center;
      }

      .navbartext li:hover{
        background-color: #DEF1FB;
        border-radius: 8px;
      }
      .owl-carousel .owl-nav button.owl-prev, .owl-carousel .owl-nav button.owl-next, .owl-carousel button.owl-dot{
        display:inline-block;
        height:15px !important;
        width: 15px !important;
        background:#222;
        border-radius: 50%;
        margin: 0 5px;
      }
      button.owl-dot.active{
        background:#eb5008;
      }

      .section-padding{
        padding:40px 0;
      }

      .brand-carousel{
        margin-top: 3%;
      }

      .card .card-action{
        margin:-20px 0px 0px 0px;
        padding:0px;
        border-top:0px;
      }

      .footerlogo div{
        padding:10px;
        background:#dddddd;
        /* border-left:6px solid #fff; */
        line-height:60px;
      }

      #back-to-top-btn {
        position: fixed;
        bottom : 3px;
        right: 20px;
        font-size:26px;
        width:50px;
        height: 50px;
        display:none;
        background-color:  #eb5008; 
        color: white;
        cursor: pointer;
        outline: none;
        border: 3px solid transparent;
        border-radius: 50%;
        transition-duration: 0.2s;
        transition-timing-function: ease-in-out;
        z-index:1;
        transition-property: background-color, color;
      }

      #back-to-top-btn:hover, #back-to-top-btn:focus {
        color:#eb5008;
        
        background-color: #fff;
      }
      @media screen and (max-width: 700px) {
        /* header{
                        min-height:500px;
                    } */
        .h3-lg {
          font-style: normal;
          font-weight: 800;
          font-size: 40px;
          line-height: 4rem;
          margin: 0px;
          color: #ffffff;
        }

        .headings{
          color:#282828;
          font-weight: 800;
          font-size: 40px;
          line-height: 4rem;
          margin: 0px;
        }

        .h3-lg2 {
          font-style: normal;
          font-weight: 800;
          font-size: 52px;
          line-height: 4rem;
          margin: 8px 0px;
          color: #ffffff;
          justify-content: left;
        }
        

        .slider .slides li .caption {
          width: 80%;
          left: 10%;
          top: 30%;
        }
        .footer{
        height:40vh;
      }
        .touch{
            height:auto;
        }
        .whatwedo .card{
          /* align-self: auto; */
          height:auto;
        }
        .headings{
          font-size: 32px;
          margin:20px 0px 0px 20px;
          padding:20px 0px 0px 20px;
          align-content: center;
        }
        .whatwedo h1 {
          margin-top: 10px;
          font-style: bold;
        }
        #Services{
            /* min-height: 1100px; */
            height: auto;
            margin-left: 0px;
          
        }
        
        #Services .mg-tp{
            margin-top: 20px;
        }
        .pagination li{
        height:30px;
        margin-left: 10px;
      }
        .nav-wrapper{
          width:100vw;
      }
      .img-adjust{
        margin-top: 70px;
        max-width: 100vw;
        height: 450px;
        border-radius: 5px;

        -webkit-animation: fadein 4s;
        -o-animation: fadein 4s;
        animation: fadein 4s;
      }

      .row-adjust{
        margin-right:0px;
    }

    .head-word-small{
      position: absolute;
      height: 28px;
      top: 190px;       
      font-family: Raleway;
      font-style: normal;
      font-weight: 500;
      font-size: 18px;
      line-height: 24px;
      text-align: justify;
      color: #FFFFFF;
  }
    }

